# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Git\machine_learning_work\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
